.npm1 {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

.npm2 {
  width: 20%;
  height: auto;
  margin-left: 5%;
}

.npm-imgs {
  display: flex;
  width: 90%;
  align-items: self-start;
}

/* get rid of the global page scroller */
body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  /* font-family: Nunito; */
  font-family: sans-serif;
  margin: 0;
}

li {
  margin-bottom: 4%;
}

nav a {
  font-size: 1.3em;
}

section p,
section li {
  color: #4d4e53;
  font-size: 1.3em;
}

section p {
  margin-left: 8%;
}

section li p {
  font-size: 1em;
}

code div {
  background-color: rgb(245, 245, 245);
  margin-right: 5%;
  padding: 1%;
}

.install-nodemon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.install-nodemon img {
  width: 30%;
  height: 30%;
}

#navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

#navbar a {
  text-decoration: none;
  color: #6e6864;
  border-top: 1px solid gray;
  padding: 3% 7%;
}

#navbar a:active {
  color: #6e6864;
}

#navbar a:visited {
  color: #6e6864;
}

.header-and-nav header {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.header-and-nav {
  width: 30%;
  border-right: 2px solid gray;
}
section header {
  font-size: xx-large;
  margin: 4%;
}

main {
  width: 80%;
  height: 100vh;
  overflow: auto;
}

.main-section {
  margin-left: 5%;
}

#Debug img {
  width: 96%;
}

#Cookies img {
  width: 96%;
}

.responsive-header {
  display: none;
}

.responsive-header-and-nav {
  display: none;
}

@media (max-width: 900px) {
  body {
    flex-direction: column;
  }

  .header-and-nav {
    display: none;
  }

  main {
    width: 100%;
  }

  .responsive-header {
    display: block;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin: 2%;
  }

  .header-and-nav header {
    display: none;
  }

  .responsive-header-and-nav {
    width: 100%;
    max-height: 200px;
    overflow: overlay;
    border-bottom: 3px solid;
    border-top: 3px solid;
    display: block;
  }

  #navbar a {
    padding: 1% 7%;
  }

  nav a {
    font-size: 1.1em;
  }

  section p,
  section li {
    font-size: 1.1em;
  }

  code div {
    font-size: 0.8em;
  }
}

#Session img {
  width: 96%;
}

#NodeJS_REST_API img {
  width: 22%;
  position: relative;
  left: 11%;
}

.js-object-notation {
  display: flex;
  align-items: self-end;
}

#NodeJS_REST_API img.js-object{
  width: 50%;
}

#NodeJS_REST_API img.postman, #NodeJS_REST_API img.login-signup{
  width: 80%;
}
