/* get rid of the global page scroller */

body::-webkit-scrollbar {
    display: none;
}

body {
    display: flex;
    font-family: Nunito;
}

#navbar {
    display: flex;
    flex-direction: column;
}

#navbar header {
    font-size: xx-large;
    font-weight: bold;
}

nav {
    width: 20%;
    height: 100vh;
    overflow: auto;
}

main {
    width: 80%;
    height: 100vh;
    overflow: auto;
}

@media (max-width: 420px) {
    body {
        display: block;
    }
}